@page "/fetchdata"

@using BlazorExample.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>Click on row to edit it</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="ToggleModal">Add</button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr @onclick="@(() => Edit(forecast, forecasts.ToList().IndexOf(forecast)))">
                    <td>@forecast.Date.ToString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

    //-----------modal
    <div class="@modalClass" tabindex="-1" style="display: @displayMode;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button class="close" @onclick="ToggleModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <label>Date</label>
                        <input type="text" @bind="date" /><br />
                        <label>TempC</label>
                        <input type="text" @bind="tempC" /><br />
                        <label>TempF</label>
                        <input type="text" @bind="tempF" /><br />
                        <label>Summary</label>
                        <input type="text" @bind="summ" /><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="ToggleModal">Close</button>
                    <button class="btn btn-primary" @onclick="SaveChanges">Save changes</button>
                    <button class="btn btn-danger" @onclick="Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
    //-----------
}

@code
{
    bool open = false;
    string modalClass => open ? "modal fade show" : "modal fade";
    string displayMode => open ? "block" : "none";
    string mode = "add";

    List<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

    [CascadingParameter] public IModalService Modal { get; set; }

    int index=-1;
    string date;
    string tempC;
    string tempF;
    string summ;


    private void Delete()
    {
        forecasts.Remove(forecasts.FirstOrDefault(x => x.Date.ToShortDateString() == date && x.Summary == summ && x.TemperatureC == int.Parse(tempC)));
        ToggleModal();
    }

    private void SaveChanges()
    {
        try
        {
            forecasts.RemoveAt(index);
        }catch(Exception e)
        {
            Console.WriteLine(e.Message);
        }
        forecasts.Add(new WeatherForecast()
        {
            Date = DateTime.Parse(date),
            Summary = summ,
            TemperatureC = int.Parse(tempC)
        });
        ToggleModal();
    }

    async Task Edit(WeatherForecast forecast, int row)
    {
        date = forecast.Date.ToShortDateString();
        tempC = forecast.TemperatureC.ToString();
        tempF = forecast.TemperatureF.ToString();
        summ = forecast.Summary;
        index = row;
        ToggleModal();
    }

    private void ToggleModal()
    {
        open = !open;
        StateHasChanged();
    }
}