@page "/profile"
@using BlazorExample.Data
<h1>ProfileForm</h1>
<hr class="mb-5" />

<div class="container">
    <RadzenFieldset Text="Profile">
        <div class="row">
            <div class="col-xl-6">
                <RadzenImage Path="https://www.radzen.com/assets/hero-40b90af93c7bda2d44608c74e2b8eeb6785e273e02340ec44583d097b5dfb896.png" Style="width:600px">
                </RadzenImage>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right">First Name:</p>
                    </div>
                    <div class="col-md-6">
                        <p>@employee.FirstName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right">Last Name:</p>
                    </div>
                    <div class="col-md-6">
                        <p>@employee.LastName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right">Speciality:</p>
                    </div>
                    <div class="col-md-6">
                        <p>@employee.Speciality</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-right">Phone:</p>
                    </div>
                    <div class="col-md-6">
                        <p>@employee.Phone</p>
                    </div>
                </div>
                <RadzenTabs style="height: 500px">
                    <Tabs>
                        <RadzenTabsItem Text="Orders" >
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="Customers">
                            <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced" AllowPaging="true" PageSize="4"
                                        AllowSorting="true" Data="@employees" TItem="Employee" ColumnWidth="200px" AllowColumnResize="true">
                                <Columns>
                                    <RadzenGridColumn TItem="Employee" Property="FirstName" Title="First Name" />
                                    <RadzenGridColumn TItem="Employee" Property="LastName" Title="LastName"/>
                                </Columns>
                            </RadzenGrid>
                        </RadzenTabsItem>

                        <RadzenTabsItem Text="CallBack">
                            <RadzenCard class="m-1">
                                <h2>ABC ABC</h2>
                                <RadzenRating Value="4"></RadzenRating>
                                <p>abccccccccccccccccccabcccccccccccccccccabccccccccccccccccccabccccccccccccccccccc</p>
                                <p>02.02.2020</p>
                            </RadzenCard>
                            <RadzenCard class="m-1">
                                <h2>ABC ABC</h2>
                                <RadzenRating Value="4"></RadzenRating>
                                <p>abccccccccccccccccccabccccccccccccccccccabccccccccccccccccccabcccccccccccccccccc</p>
                                <p>02.02.2020</p>
                            </RadzenCard>
                            <RadzenCard class="m-1">
                                <h2>ABC ABC</h2>
                                <RadzenRating Value="4"></RadzenRating>
                                <p>abccccccccccccccccccabccccccccccccccccccabccccccccccccccccccabcccccccccccccccccc</p>
                                <p>02.02.2020</p>
                            </RadzenCard>
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs>
            </div>
        </div>
    </RadzenFieldset>
</div>
@code {
    Employee employee = new Employee()
    {
        FirstName = "AAA",
        LastName = "BBB",
        Speciality = "Builder",
        Phone = "(123)-12-123-12-12"
    };

    List<Employee> employees = new List<Employee>()
{
        new Employee()
        {
            FirstName = "AAA",
        LastName = "DDD",
        Speciality = "Builder",
        Phone = "(123)-12-123-12-12"
        },
        new Employee()
        {
            FirstName = "AAA",
        LastName = "CCC",
        Speciality = "Builder",
        Phone = "(123)-12-123-12-12"
        },
        new Employee()
        {
            FirstName = "BB",
        LastName = "BVDS",
        Speciality = "Builder",
        Phone = "(123)-12-123-12-12"
        }
    };
}
